* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------- HEADER ----------- */

.page-header {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  align-items: center;
}

.page-header h1 {
  color: #d04f4f;
}

/* ----------- SEARCH SECTION ----------- */

.search-main input {
  background-color: #e9ecef;
  border-right: none;
}

/* ----------- DROPDOWNS SECTION ----------- */

.search-wrapper {
  height: auto;
  font-size: 16px;
  margin-bottom: 6em;
}

.advanced-search {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
}

.dropdown-container {
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.listbox-dropdown {
  position: relative;
  margin-right: 1.5em;
  padding: 0;
  z-index: 3;
}

.listbox-dropdown__header {
  display: flex;
  border-radius: 0.35em;
  cursor: pointer;
}

.listbox-dropdown > .listbox-dropdown__list:last-child {
  border-radius: 0 0 0.35em 0.35em;
  padding-bottom: 1em;
}

.listbox-dropdown:focus-within .listbox-dropdown__header {
  border-bottom-right-radius: 0;
}

.listbox-dropdown:focus-within .listbox-dropdown__list {
  display: block;
  height: auto;
}

.listbox-dropdown:focus-within .listbox-dropdown__input {
  width: 100%;
  outline: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.listbox-dropdown:focus-within .arrow-container > .arrow {
  transform: rotate(-225deg);
  margin: 1.3em 0 0 0.5em;
}

.listbox-dropdown__input {
  width: 100px;
  height: 3em;
  padding-left: 1em;
  border: none;
  border-radius: 0.35em 0 0 0.35em;
  text-align: left;
  font-size: inherit;
  color: whitesmoke;
  cursor: pointer;
}

.listbox-dropdown__input::placeholder{
  color: lightgrey;
}

.arrow-container {
  position: relative;
  width: 3em;
  height: auto;
  padding-left: 0.25em;
}

.arrow {
  display: inline-block;
  height: 0.75em;
  width: 0.75em;
  margin: 1em 0 0 0.9em;
  vertical-align: middle;
  border-left: 0.15em solid whitesmoke;
  border-bottom: 0.15em solid whitesmoke;
  transform: rotate(-45deg);
  transition: transform 300ms ease-in-out;
  cursor: pointer;
}

.arrow::after,
.arrow::before {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  width: inherit;
  height: inherit;
}

.arrow::before {
  top: 8px;
}

.arrow::after {
  bottom: 8px;
}

.listbox-dropdown__list {
  display: none;
  width: auto;
  height: 0;
  margin: 0;
  padding: 0.2em 1em 0.2em 1em;
  column-count: 3;
  overflow: hidden;
  z-index: 3;
}

.listbox-dropdown__option {
  font-size: 1em;
  border: none;
  color: whitesmoke;
  list-style-type: none;
  cursor: pointer;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 1em;
}

.tag {
  margin: 0 1em 1em 0;
}

.tag::after {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.5em;
  font-family: 'FontAwesome';
  font-size: 1.25em;
  font-weight: 800;
  content: '\f057';
}

/* ----------- RECIPES SECTION ----------- */


.gallery_section {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 3em;
  /* margin-top: 50px; */
}

.card-body {
  min-height: 250px;
  background-color: #e7e7e7;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-name {
  width: 70%;
}

.card-clock::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3em;
  font-family: 'FontAwesome';
  font-size: 1.25em;
  font-weight: 400;
  content: '\f017';
}

.card-details {
  display: flex;
  justify-content: space-between;
  max-height: 175px;
}

.card-recipe {
  display: inline-block;
  width: calc(45%);
  max-height: 150px;
  font-size: 0.8em;
  overflow: hidden;
}

.card-ingredients {
  width: auto;
}

dl {
  list-style-type: none;
  margin-bottom: 0;
  line-height: 1.2em;
  font-size: 0.8em;
}

dt {
  float: left;
  clear: left;
  margin-right: 5px;
}

dd {
  margin-left: 0px;
  margin-bottom: 0;
}
