.search-main input {
  background-color: #e9ecef;
  border-right: none;
}

.card-body {
  min-height: 200px;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.card-name {
  width: 70%;
}

.card-clock::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.3em;
  font-family: 'FontAwesome';
  font-size: 1.25em;
  font-weight: 400;
  content: '\f017';
}

.card-details {
  display: flex;
  justify-content: space-between;
  max-height: 175px;
}

.card-recipe {
  display: inline-block;
  width: calc(45%);
  max-height: 150px;
  font-size: 0.8em;
  overflow: hidden;
}

.card-ingredients {
  width: auto;
}

dl {
  list-style-type: none;
  margin-bottom: 0;
  line-height: 1.2em;
  font-size: 0.8em;
}

dt {
  float: left;
  clear: left;
  margin-right: 5px;
  /*     font-weight: bold; */
}

dd {
  margin-left: 0px;
  margin-bottom: 0;
}
